textarea{
    resize: none;
}

#tapeArea{
    width: 100%;
    height: 1.5em;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
}

#currentTapeTextArea{
    color: red;
}

#currentStateArea{
    width: 10%;
    height: 1.5em;
}